* {
  margin: 0;
  padding: 0;
  }

html, body {
  --teal: #008080;
  --grey: rgb(224, 224, 229);
  margin: 0 0 0 0;
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialised;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/gradient.svg);
  filter: blur(2000%);
  background-color: var(--teal);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.container {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey)
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar > img {
  width: 10rem;
  object-fit: cover;
  border-radius: 80%;
  box-shadow: 3px 3px 20px rgb(0, 0, 0);
  /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-shadow: 0.1px 0.1px 6px black;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  text-shadow: 0.5px 0.5px 8px black;
}

.github-icon path {
  fill: var(--grey);
}

a:hover {
  color: #141414;
  text-shadow: none;
  transition: 150ms ease-in-out;
}

a:hover svg path {
  fill: #141414;
  transition: 150ms ease-in-out;
}

.bio {
  text-shadow: 0.5px 0.5px 8px black;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: .5rem;

  justify-content: center;
}

ul li img {
  border-radius: 15%;
}

.linkedin {
  transition: ease-in-out 0.2s;
  background: #323238;
}

.linkedin:hover {
  background: #2867b2;
  scale: 1.1;
}

.facebook {
  transition: ease-in-out 0.2s;
  background: #323238;
}

.facebook:hover {
  background: #4267B2;
  scale: 1.1;
}

.instagram {
  background: #323238;
  transition: ease-in-out 0.2s;
}

.instagram:hover {
  background: #d64273;
  scale: 1.1;
}

.twitter {
  background: #323238;
  transition: ease-in-out 0.2s;
}

.twitter:hover {
  background: #1DA1F2;
  scale: 1.1;
}

.telegram {
  background: #323238;
  transition: ease-in-out 0.2s;
}

.telegram:hover {
  background: #0088cc;
}